* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #333;
  font: 30px/1 sans-serif;
  font-family: Abel, sans-serif;
  --off-white: #e3e3e3;
  --main-background: rgb(5, 97, 134);
  --main-subtitle: rgb(176, 242, 245);
  --main-subtitle-bg: rgb(7, 40, 53);
  --header-bg-color: rgba(128, 48, 48, 0.61);
  --card-color: rgb(133, 133, 207);
}

.App {
  text-align: center;
  width: 85%;
  min-width: 25rem;
  max-width: 45rem;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--off-white);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem 0;
  margin: 1rem 0;
}

.App-link {
  color: #09d3ac;
}
